.widget {
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
  width: 200px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    .link {
      font-size: 14px;
      
      border-bottom: 1px solid lightgray;
      width: max-content;
    }
  }
}
